<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Recipes!</h1>
    <% @recipes.each do |recipe| %>
    <% recipe_link = "/recipes/#{recipe.id}" %>
    <p><a href="<%= recipe_link %>"><%= recipe.name %></a></p>
    <% end %>

  </body>
</html>
