<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method="POST" action="/recipes">

      Name:
      <input type="text" id="name" name="name">
      <br />

      Ingredients:
      <input type="text" id="ingredients" name="ingredients">
      <br />

      Cook Time:
      <input type="text" id="cook_time" name="cook_time">
      <br />

      <input type="submit" id="submit" value="Submit">
    </form>

  </body>
</html>
